<div class="static-text">
	<p>Create bets or wager on existing bets to show the world that you are right about something! Bets are purely for fun and Glory. You cannot win any money on this site via betting.</p>
	There are 3 options a person can follow
	
	<ul>
		<li>Create a new bet
			<ul>
				<li>You need at least 1 credits to create a new bet</li>
				<li>You create a brand new bet, choose the title, a good description, end date, describe how the admins can verify the winner</li>
				<li>Our admins will confirm the bet is ok (Will have a clear winner, no profanity, not spam, etc)</li>
				<li>Copy the link (URL) of your bet and give it to someone that has a big mouth and is arguing with you. Tell them to put their money where their mouth is</li>
			</ul>	
		</li>
		<li>Credits
			<ul>
				<li>You can see your available credits at the top right hand of the page if you are logged in. Clicking this will show you more detail in your Wallet page</li>
				<li>Credits can be obtained in 3 ways
					<ul>
						<li>You earn 1 free credit every 6 hours. You can not earn more than 1 credit at a time</li>
						<li>You can purchase more credits from your Wallet page (Click on the link saying "Credits XXXX" then click "Buy Credits")</li>
						<li>You can win more credits by winning bets. Either ones you have created or by betting on existing bets</li>
					</ul>
				</li>	
			</ul>	
		</li>
		<li>Wager in an existing bet
			<ul>
				<li>You can bet with or against an existing bet</li>
				<li>You can bet as many times as you wish. Every time you bet, it just makes your portion of the pot bigger if you are right</li>
			</ul>	
		</li>
		<li>Winning
			<ul>
				<li>You win credits, which are <b>not</b> redeemable for money</li>
				<li>If you created a bet you were right about or wagered on a bet you were right about, you win a portion of the pot</li>
				<li>The total prize credits for the bet is divided equally amongst all the people that were right. All partial credits are rounded down</li>
				<li>Your Bragging Score is updated accordingly</li>
			</ul>	
		</li>	
		<li>Losing
			<ul>
				<li>If you created a bet you were wrong about or wagered on a bet you were wrong about, you do not win any of the pot</li>
				<li>Your Bragging Score is updated accordingly</li>
			</ul>	
		</li>
		<li>Score
			<ul>
				<li>Your Score is determined by your winning history</li>
			</ul>	
		</li>
		<li>Awards
			<ul>
				<li>As your score increases, you will receive awards</li>
			</ul>	
		</li>
	</ul>	
</div>