var current_page = $("#current-page").val();
var content = "<a href='" + current_page + "' class='back' id='back' data-remote='true'><< Back</a>"
content += "<%= escape_javascript(render 'how.html.erb') %>"
$("#fancybox-content .center-inner").html(content);