@font-face {
    font-family: 'IrishGroverRegular';
    src: url('irishgrover-webfont.eot');
    src: url('irishgrover-webfont.eot?#iefix') format('embedded-opentype'),
         url('irishgrover-webfont.woff') format('woff'),
         url('irishgrover-webfont.ttf') format('truetype'),
         url('irishgrover-webfont.svg#IrishGroverRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
  padding:0 0 0 0;
  margin: 0;
}

a img {
  border: none;
}

a {
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}


.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

.simple-clear
{
	clear: both;
}

h1
{
	font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
	display:inline;
}

#logo
{
	display:none;;
}

#logo-title
{
	font-family: 'IrishGroverRegular', 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
	font-size:50px;
	font-weight:bold;
	text-decoration:none;
	color:black;
}

#logo-title img
{
	vertical-align: middle;
}

h2
{
	font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
	text-align: center;
}

#title
{
	width:75%;
	margin: 30px auto 22px;
	text-align: center;
}

#main-page
{
   background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.27, rgb(255,255,255)),
	    color-stop(0.64, rgb(184,184,184)),
	    color-stop(0.82, rgb(143,143,143))
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    rgb(255,255,255) 27%,
	    rgb(184,184,184) 64%,
	    rgb(143,143,143) 82%
	);
	
/*	background-image: url('/assets/grey-gradient.png');
	background-repeat:repeat-x;*/
}

#head-menu
{
	margin: 0 auto;
	height:40px;
	background:white;
	border-bottom-right-radius:10px;
	border-bottom-left-radius:10px;
	box-shadow: 0px 7px 50px black;
	-webkit-box-shadow: 0px 7px 50px black;
    -moz-box-shadow: 0px 7px 50px black;
	padding: 10px 20px 30px 20px;
	position:relative;
	z-index:20;
}

#inner-page 
{
  margin: 0 auto;	
  background-color: transparent;
  box-shadow: -10px -10px 50px black;
  -webkit-box-shadow: -10px -10px 50px black;
  -moz-box-shadow: 0px 0px 50px black;
  border-bottom-right-radius:10px;
  border-bottom-left-radius:10px;
  position:relative;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.6, rgb(242,252,252)),
    color-stop(0.75, rgb(229,255,255))
  );
  background-image: -moz-linear-gradient(
    center bottom,
    rgb(242,252,252) 60%,
    rgb(229,255,255) 75%
  );
}
	
#container 
{
  position: relative;
  padding: 0 20px 20px 20px;
}

#container-left
{
  position:relative;
  z-index:10;
}

#menu
{
	float:right;
}

.flash
{
  overflow: hidden;
  z-index: 999;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(161,195,0);
  background-color: rgba(161,195,0,.8);
  height: 0;
  color: #fff;
  padding: 30px 0 20px 0;
  text-shadow: rgba(99,130,0,.75) 2px 2px 2px;
  font-size: 21px;
  font-weight:bold;
}

.warning
{
  background-color: red;
}

.notice {
  background-color: black;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}


#user_nav {
  float: right;
  width:200px;
  margin-top: 12px;
}

#credit-nav
{
	width:100px;
}

#login-nav
{
	float:right;
	width:80px;
}

.separator
{
	width:1px;
	border-left:1px solid black;
	height:20px;
	margin:0 5px;
}

.points-text
{
	position:absolute;
	width:100px;
	text-align:center;
}

.center-inner
{
	margin: 0 auto;
	padding-left:20px;
	padding-right:10px;
}

.footer
{
	margin: 0 auto;
	background-color: white;
	text-align:center;
	font-size:13px;
	border-bottom-right-radius:10px;
	border-bottom-left-radius:10px;
}

.footer span
{
	margin: 0 5px;
}
/*
.footer a
{
	color: #666;
	font-size: 13px;
	font-style: normal;
	font-family: 'Chewy', Verdana, Helvetica, Arial;
	text-decoration:none;
}*/

.bold
{
	font-weight:bold;
}

.search
{
	float:left;
	width:41%;
	border-bottom-right-radius:10px;
	border-bottom-left-radius:10px;
	box-shadow: 0px 11px 14px -5px black;
	-webkit-box-shadow: 0px 11px 14px -5px black;
    -moz-box-shadow: 0px 11px 14px -5px black;
	padding-bottom:5px;
	padding-left:1%;
	margin-right:3%;
	margin-left:6%;
	min-height: 45px;
}
/* Start Bets */

#public-bets, #private-bets
{
	float:left;
	padding-left:5%;
	
	.bet-body
	{
		float:left;
		display: none;
	}
	
	.counter-0 .bet-body
	{
		display: inline;
	}
}

.bet-panel-small
{
	margin-bottom:10px;
    float:left;
	
	.bet-view-link
	{
		clear:both;
		float:right;
	}
}

.sort-links .current {  
  padding-right: 12px;  
  background-repeat: no-repeat;  
  background-position: right center;  
}

.sort-links .asc {   
  background-image: url("up_arrow.gif");   
}  
  
.sort-links .desc {   
  background-image: url("down_arrow.gif");   
}

.bet-type-heading h3
{
	text-align:center;
}

.view-all-bets
{
	text-align:center;
	margin: 10px 0 20px 0;
}

#previews
{
	margin: 0 auto;
	padding-left:20px;
}

.bet-panel
{
	float:left;
	width:90%;
}

.won, .lost
{
	opacity: .3;
}

.bet-title, .bet-title a
{
	text-align:center;
}

.bet-end-date
{
	float:left;
	margin-top:10px;
	font-style:italic;
}

.bet-display-name-line
{
	font-size:smaller;
	float:left;
	width:45%;
}

.bet-display-name
{
	font-weight:bold;
}

.sort-links
{
	text-align:center;
}

.bet-wager-info
{
	float:right;
	font-size:70%;
	margin-top:10px;
}

.bet-status
{
	font-weight:bold;
	font-style:italic;
	font-size:larger;
	color:#CD4F39;
}

.bet-panel .bet-status-image
{
	position:absolute;
	top:-30px;
	right:-30px;
}

.bet-panel-small .bet-status-image
{
	position:absolute;
	top:-20px;
	right:-20px;
}

.bet-wager-amount .small-text
{
	font-size:80%;
}
/* End Bets */

/* Start Wagers*/

/*.wagers
{
	font-size:15px;
}*/

.wager-links
{
	text-align:center;
	font-size:18px;
	margin-top:15px;
}

.wager-links a
{
	font-size:24px;
}

/* End Wagers*/

.my-links
{
	text-align:center;
	font-size:18px;
}

.my-links a
{

}

/* Start Pagination */

.pagination {
    color: #666;
	font-size: 17px;
	font-style: normal;
	font-family: 'Chewy', Verdana, Helvetica, Arial;
    text-align: center;
    margin: 0;
    padding: 3px 0 4px;
}
   .pagination a,
.pagination span {
    padding: 3px 3px 2px;
}
.pagination .disabled {
    background:none repeat scroll 0 0 transparent;
    border:medium none;
    color:#999999;
    cursor:default;
}
.pagination a {
    color:#3B5998;
    cursor:pointer;
    text-decoration:none;
}
.pagination a:hover {
    background-color:#3B5998;
    border-bottom:1px solid #3B5998;
    border-color:#D8DFEA #D8DFEA #3B5998;
    color:#FFFFFF;
    text-decoration:none;
}
.pagination em {}
.pagination em {
    border-bottom:2px solid #3B5998;
    border-color:#3B5998;
    color:#3B5998;
	font-size: 17px;
	font-style:normal;
    padding-left:2px;
    padding-right:2px;
	padding-top:0;
	padding-bottom:0;
}
.pagination em a:hover {
    background-color:#3B5998;
    color:#FFFFFF;
}

.pagination .prev_page {

}
.pagination .next_page {

}
/* end Pagination */

.thin-border
{
	background: #fff;
	box-shadow: 0px 0px 3px black;
	-webkit-box-shadow: 0px 0px 4px black;
	-moz-box-shadow: 0px 0px 4px black;
	-moz-border-radius: 15px;
	border-radius: 10px;
	border-top-left-radius: 10px 10px;
	border-top-right-radius: 10px 10px;
	border-bottom-right-radius: 10px 10px;
	border-bottom-left-radius: 10px 10px;
	border:1px solid black;
	margin-bottom:25px;
    position:relative;
}

.standard-padding
{
	padding:10px 10px 10px 10px;
}

.credit-box, .admin-links
{
	width:300px;
}

#wallet-displayname
{
	width:400px;
}

/*.purchase
{
	float:left;
	border-top:1px solid #ADADAD;
	font-size:13px;
}

.purchase div.left
{
	margin-top:7px;
}*/

.row-item
{
	float:left;
	padding:10px;
}

.row-item-short
{
	width:40px;
}

.row-item-long
{
	width:120px;
}

.border-left
{
	border-left:1px solid #E5E5E5;
}

.rounded-border, .bet-panel, .bet-panel-small
{
	background: #fff;
	box-shadow: 0px 0px 7px #248cab;
	-webkit-box-shadow: 0px 0px 7px #248cab;
	-moz-box-shadow: 0px 0px 7px #248cab;
	-moz-border-radius: 15px;
	border-radius: 10px;
	border-top-left-radius: 10px 10px;
	border-top-right-radius: 10px 10px;
	border-bottom-right-radius: 10px 10px;
	border-bottom-left-radius: 10px 10px;
    position:relative;
}

.info-box
{
	margin:30px auto 0;
	padding:10px;
	font-size:13px;
	width:500px;
	overflow:hidden;
}

.info-box ul
{
	list-style:none;
	padding:0;
}

.left
{
	float:left;
}

.right, .admin-links
{
	float:right;
}

.small-text
{
	font-size:smaller;
}

.very-small-text
{
	font-size:11px;
}

.big-text
{
	font-size:20px;
}

.very-big-text
{
	font-size:21px;
}

.italics
{
	font-style:italic;
}

.red-text, .red-text a
{
	color:#CD4F39;
}

.waiting
{
	background-color:#FFF8DC;
}

.line
{
	border:1px solid #B0B0B0;
	margin: 0 auto;
}

.short-line
{
	border:1px solid #B0B0B0;
	margin: 0 auto;
	width:80%;
}

.spacer
{
	padding: 10px 0;
}

.brag-panel
{
	width:300px;
	font-size:smaller;
}

.brag-panel-name, .brag-panel-score
{
	float:left;
	overflow: hidden;
}

.brag-panel-name
{
	width:150px;
	border-right:1px solid #E5E5E5;
}

.brag-panel-score
{
	width:144px;
	padding-left:5px;
}

#preview
{
	position:absolute;
	display:none;
	z-index:100;
}
	
.heading
{
	font-weight:bold;
}

.brag-page
{
	width:90%;
	font-size:smaller;
}

.brag-page-name, .brag-page-score, .brag-page-awards
{
	float:left;
	min-height:30px;
}

.brag-page-name
{
	width:30%;
	border-right:1px solid #E5E5E5;
}

.brag-page-score
{
	width:20%;
	padding-left:5px;
	border-right:1px solid #E5E5E5;
}

.brag-page-awards
{
	width:40%;
	padding-left:5px;
}


/* sliding panel */

.sliding-panel {
position: absolute;
top: 80px;
right: 0;
display: none;
background: #000000;
color:#fff;
border:1px solid #111111;
-moz-border-radius-bottomright: 20px;
-webkit-border-bottom-right-radius: 20px;
-moz-border-radius-bottomleft: 20px;
-webkit-border-bottom-left-radius: 20px;
width: 330px;
height: auto;
padding: 30px 40px 30px 30px;
filter: alpha(opacity=85);
opacity: .85;
z-index:30;
}

.sliding-panel p{
margin: 0 0 15px 0;
padding: 0;
color: #cccccc;
}

.sliding-panel a, .sliding-panel a:visited{
margin: 0;
padding: 0;
color: #9FC54E;
text-decoration: none;
border-bottom: 1px solid #9FC54E;
}

.sliding-panel a:hover, .sliding-panel a:visited:hover{
margin: 0;
padding: 0;
color: #ffffff;
text-decoration: none;
border-bottom: 1px solid #ffffff;
}

a.trigger{
position: absolute;
text-decoration: none;
top: 80px; right: 100px;
font-size: 16px;
letter-spacing:-1px;
font-family: verdana, helvetica, arial, sans-serif;
color:#fff;
padding: 5px 15px 8px 40px;
font-weight: 700;
background:#333333 url(/assets/plus.png) 15% 30% no-repeat;
border:1px solid #444444;
-moz-border-radius-topleft: 0px;
-webkit-border-top-left-radius: 0px;
-moz-border-radius-bottomleft: 20px;
-webkit-border-bottom-left-radius: 20px;
-moz-border-radius-bottomright: 20px;
-webkit-border-bottom-right-radius: 20px;
-moz-border-radius-topright: 0px;
-webkit-border-top-right-radius: 0px;
display: block;
z-index:40;
}

a.trigger:hover{
position: absolute;
text-decoration: none;
top: 80px; right: 100px;
font-size: 16px;
letter-spacing:-1px;
font-family: verdana, helvetica, arial, sans-serif;
color:#fff;
padding: 5px 15px 12px 40px;
font-weight: 700;
background:#222222 url(/assets/plus.png) 15% 30% no-repeat;
border:1px solid #444444;
-moz-border-radius-topleft: 0px;
-webkit-border-top-left-radius: 0px;
-moz-border-radius-bottomleft: 20px;
-webkit-border-bottom-left-radius: 20px;
-moz-border-radius-bottomright: 20px;
-webkit-border-bottom-right-radius: 20px;
-moz-border-radius-topright: 0px;
-webkit-border-top-right-radius: 0px;
display: block;
}

a.active.trigger {
background:#222222 url(/assets/minus.png) 15% 55% no-repeat;
}

.columns{
clear: both;
width: 330px;
padding: 0 0 20px 0;
line-height: 22px;
}

.colleft{
float: left;
width: 130px;
line-height: 22px;
}

.colright{
float: right;
width: 130px;
line-height: 22px;
}


.sliding-panel h1 {
font-size: 34px;
font-family: verdana, helvetica, arial, sans-serif;
letter-spacing:-2px;
color:#9FC54E;
font-weight:700;
padding:20px 0 0;
}

.sliding-panel h2 {
font-size: 24px;
font-family: verdana, helvetica, arial, sans-serif;
color:#fff;
font-weight: 400;
padding: 0 10px 0 0;
}

.sliding-panel h3 {
font-size:14px;
font-family:verdana, helvetica, arial, sans-serif;
letter-spacing:-1px;
color:#fff;
font-weight: 700;
text-transform:uppercase;
margin:0;
padding:8px 8px 0 0;
}

.sliding-panel img{
float: right;
margin: 3px 3px 6px 8px;
padding: 5px;
background: #222222;
border: 1px solid #333333;
}

.sliding-panel p {
color:#cccccc;
line-height:22px;
padding: 0 0 10px;
margin: 20px 0 20px 0;
}

.sliding-panel img {
border:none;
}

/* end sliding panel */

.login-left
{
	width:35%;
}

.login-or
{
	margin:25% 10% 0 0;
	font-size:30px;
	color: #666;
	font-weight: bold;
	font-family: 'Chewy', Verdana, Helvetica, Arial;
}
.login-right
{
	width:45%;
}

.rpx
{
	width:300px;
}
.highlight
{
	background-color:yellow;
}

#bet-wagers-list
{
	display:none;
}

/* Comments */

.comment
{
	font-size:13px;
	width:400px;
	min-height:100px;
	padding:10px;
	margin-bottom:10px;
}

.comment h3
{
	text-align:right;
	margin-top:0;
}

.reply .comment:after {
    content:"";
    display:block; /* reduce the damage in FF3.0 */
    position:absolute;
    top:-30px;
    left:50px;
    width:0;
    height:0;
    border:15px solid transparent;
    border-bottom-color:#91c5d5;
}

.reply
{
	margin-left:30px;
}

.comment-link
{
	padding-left:5px;
}

.comment-comment-form
{
	clear:both;
	padding:5px;
}
.outer
{
	margin-bottom:20px;
}

.replies
{
	display:none;
}

.comment-admin
{
	position:absolute;
	top:0px;
	right:20px;
}

.comment-admin a
{
	font-weight:normal;
	font-family: 'MolengoRegular', arial, serif;
	font-size: 17px;
}

.comment-admin a:hover
{
	font-weight:bold;
	font-family: 'MolengoRegular', arial, serif;
	font-size: 17px;
	color:blue;
}

/* End Comments */

#load-more-pagination-link
{
	padding:0 40%;
}

.middle
{
	padding:0 28%;
}

#datepicker
{
	max-width: 74%;
	margin: 0;
	padding: 0;
	display: inline-block;
	list-style: none;
	height:302px;
}

#traditional
{
	display:none;
	width:350px;
	margin:0 auto;
	padding:5px 0 0 25px;
}

#rpx
{
	width:375px;
	margin:0 auto;
}

.traditional-link
{
	text-align:center;
	padding:3% 0 0 0;
}

.winnerslosers
{
	width:50%;
}


#winners-panel
{
	width:90%;
	display:none;
}

/* Authentications */

.authentication {
  float: left;
  background-color: #EEE;
  border: solid 1px #999;
  padding: 5px 10px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  position: relative;
  margin-right: 10px;
  max-width: 200px;
  overflow: hidden;
  max-height: 38px;
}

.authentication .remove {
  text-decoration: none;
  position: absolute;
  top: 3px;
  right: 3px;
  color: #333;
  padding: 2px 4px;
  font-size: 10px;
}

.authentication .remove:hover {
  color: #FFF;
  background-color: #777;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.authentication img {
  float: left;
}

.authentication .provider, .authentication .uid {
  margin-left: 38px;
  margin-right: 20px;
}

.authentication .provider {
  font-weight: bold;
}

.authentication .uid {
  color: #666;
  font-size: 11px;
}

.auth_provider img {
  display: block;
  margin: 0 auto;
}

.auth_provider {
  float: left;
  text-decoration: none;
  margin-right: 20px;
  text-align: center;
  margin-bottom: 10px;
}

/* End Authentications */

#hide
{
	display:none;
}

.center
{
	text-align:center;
}

a.facebook-button-link
{
	height: 25px;
	vertical-align:top;
}

a.facebook-button-link, .facebook-buttons
{
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif !important;
	color: #333 !important;
	border-spacing: 0;
	font-size: 11px;
	margin-top: 10px;
}

.fb-feed
{
	vertical-align:top;
	line-height:24px;
}

#friends
{
	width:550px;
	margin:0 auto;
	text-align:center;
}

#friends a
{
	margin:2px;
}

#d_clip_container
{
	margin-right:20px;
}

#d_clip_button
{
	display: inline-block;
	background: #B8EBA7;
	text-shadow: white 2px 2px 2px;
	color: #090 !important;
	padding: 2px 5px;
	text-decoration: none !important;
	font-family: arial;
	font-size: .9em;
	margin-right: 10px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	padding: 5px;
	font-size: 1em;
	font-family: Georgia, Times, serif;
}

#d_clip_button.hover
{
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
}

/* Start Info Box */

.infobox-container-outer
{
	margin:0 auto;
	width:580px;
}

.infobox-container {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
    width: auto;
	vertical-align:text-top;
}
.infobox {
    width: 250px;
    background: #424242;
    padding: 10px 5px 5px 5px;
    margin:10px;
    color: #fff;
    font-size: 90%;
    position: relative;
    z-index: 90;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.55);
    box-shadow: 0px 0px 3px rgba(0,0,0,0.55);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#6a6b6b), to(#424242));
    background-image: -moz-linear-gradient(top,#6a6a6a,#424242);
}
.infobox h3 {
    background: #3198dd;
    width: 270px;
    color: #fff;
    padding: 10px 5px;
    margin: 0;
    font-size: 160%;
    text-align: center;
    font-weight: bold;
	position: relative;
	left: -15px;
    position: relative;
    z-index: 100;	
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.55);
    box-shadow: 0px 0px 3px rgba(0,0,0,0.55);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#33acfc), to(#3198dd));
    background-image: -moz-linear-gradient(top,#33acfc,#3198dd);
    text-shadow: #2187c8 0 -1px 1px;
}
.infobox-container .triangle-l {
    border-color: transparent #2083c2 transparent transparent;
    border-style:solid;
    border-width:13px;
    height:0;
    width:0;
    position: absolute;
    left: -12px;
    top: 46px;
	z-index: 0; /* displayed under the infobox */
}
.infobox-container .triangle-r {
    border-color: transparent transparent transparent #2083c2;
    border-style:solid;
    border-width:13px;
    height:0;
    width:0;
    position: absolute;
    left: 266px;
    top: 46px;
    z-index: 0; /* displayed under the infobox */
}
.infobox a {
    color: #35b0ff;
    text-decoration: none;
    border-bottom: 1px dotted transparent;
}
.infobox a:hover, .infobox a:focus {
    text-decoration: none;
    border-bottom: 1px dotted #35b0ff;
}

.infobox-bet
{
	margin:-8px 0 0 -21px;
	position:absolute;
	top:0px;
	left:0px;
}

.opaque
{
	opacity:0.3;
}

#newbet-infobox
{
	display:none;
	width:400px;
}

#newbet-infobox .infobox {
    width: 370px;
}
#newbet-infobox .infobox h3 {
    width: 390px;
}
#newbet-infobox .infobox-container .triangle-r {
    left: 386px;
}
/* End Info Box */

#daily-quote
{
	margin-bottom:0;
}

.smaller-bottom-margin
{
	margin-bottom:2px;
}

.pulsedbox 
{
   -webkit-animation-name: pulse;
   -webkit-animation-duration: 1.5s;
   -webkit-animation-iteration-count: infinite;
   -webkit-animation-timing-function: ease-in-out;
 }

@-webkit-keyframes pulse {
    0% {
      opacity: 1.0;
    }
    33% {
      opacity: 0.75;
    }
    67% {
      opacity: 0.5;
    }
    100% {
      opacity: 1.0;
    }
}

.top-categories
{
	width:43%;
	border-bottom-right-radius:10px;
	border-bottom-left-radius:10px;
	box-shadow: 0px 11px 14px -5px black;
	-webkit-box-shadow: 0px 11px 14px -5px black;
    -moz-box-shadow: 0px 11px 14px -5px black;
	padding-bottom:5px;
	min-height: 59px;
}

.top-category-link
{
	margin-left:3%;
}

.top-categories-title
{
	font-weight:bold;
}

.bet-categories ul
{
	list-style-type: none;
	padding:0;
	margin:0;
}

.bet-categories ul ul
{
	margin-left:20px;
}

.no-decoration
{
	font-weight:normal;
}

/* Start Notifications */

#notifications
{
	display:none;
	width:300px;
	background:white;
	box-shadow: 0px 7px 50px black;
	-webkit-box-shadow: 0px 7px 50px black;
    -moz-box-shadow: 0px 7px 50px black;
	padding: 5px;
	position:absolute;
	top:0px;
	left:15px;
	z-index: 19;
}

.notification
{
	width:300px;
	font-size:12px;
	position:relative;
	margin:5px 0;
}

.notification:hover
{
	background-color: azure;
}

#notifications-button
{
	width:100%;
	font-size:12px;
	position:relative;
}

.down-arrow
{
	border-color: #778899 transparent transparent transparent;
	border-style: solid;
	border-width: 8px;
	height:0;
	width:0;
	position:absolute;
	top:5px;
	left:5px;
}

.notifications-button-text
{
	margin-left:30px;
}

#notifications-wrapper
{
	display:none;
}

.close-link
{
	margin-right:5px;
	position:absolute;
	top:0px;
	right:3px;
}

.close-link a
{
	font-size:12px;
	font-weight:normal;
}

.close-link a:hover
{
	font-weight:bold;
}

.notification-message
{
	display:none;
	background-color:#F0F8FF;
}
/* End Notifications */

/* Start BonusBox */

#bonusbox
{
	margin-left:30px;
}

#bonusbox .infobox{
    width: 210px;
    background: #72E8D4;
    background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.01, #336956),
	    color-stop(0.51, #72E8D4)
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    #336956 1%,
	    #72E8D4 51%
	);
}
#bonusbox .infobox p{
}
#bonusbox .infobox h3 {
    width: 230px;
}
#bonusbox .triangle-l {
    top: 46px;
}
#bonusbox .triangle-r {
    left: 226px;
    top: 46px;
}

.bonus-name
{
	font-size:110%;
	font-weight:bold;
	text-align:center;
}

.bonus-short-description, .bonus-status
{
	text-align:center;
}

.bonus-short-description
{
	font-style:italic;
	font-size:80%;
}

.bonus-status
{
	font-size:100%;
}

.activated
{
	font-size: 15px;
	font-weight:bold;
	font-family: Georgia, Times, serif;
	text-shadow: black 2px 2px 2px;
	color: red !important;
	margin-right: 10px;
	-webkit-transform: rotate(1deg);
	-moz-transform: rotate(1deg);
}

.bonus
{
	margin-top:10px;
}
/* End BonusBox */

/* Start Tooltip */

.tooltip{
	font-weight:bold;
}
 
.tooltip:after{
	font:12px/1.4 Arial,Georgia,sans-serif;
	content: attr(data-tooltip); 
	display:none;
	position:absolute;
	padding:5px 10px;
	top:0px;
	margin:1em 0 3em;
	color:#fff;
	background:#075698; /* default background for browsers without gradient support */
	left:0px;
	/* css3 */
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	/* NOTE: webkit gradient implementation is not as per spec */
	background:-webkit-gradient(linear, left top, left bottom, from(#075698), to(#2e88c4));
	background:-moz-linear-gradient(top, #075698, #2e88c4);
	background:-o-linear-gradient(top, #075698, #2e88c4);
	background:linear-gradient(top, #075698, #2e88c4);	
  -moz-box-shadow: 0px 0px 4px #000; /* FF3.5+ */
  -webkit-box-shadow: 0px 0px 4px #000; /* Saf3.0+, Chrome */
  box-shadow: 0px 0px 4px #000; /* Opera 10.5, IE 9.0 */
  filter:  progid:DXImageTransform.Microsoft.dropshadow(OffX=0px, OffY=0px, Color='#000'); /* IE6,IE7 */
  -ms-filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=0px, OffY=0px, Color='#000')"; /* IE8 */
	
}
/* creates triangle */
 
.tooltip:before{
	z-index:13;
	position:absolute;
	content:"\00a0";
	display:none; /* reduce the damage in FF3.0 */
	width:0;
	height:0;
	border-style:solid;
	top:-3px; /* value = - border-top-width - border-bottom-width */
	left:48%; /* controls horizontal position */
	border-width:15px 7px 15px 7px; /* vary these values to change the angle of the vertex */
	border-color:transparent transparent #075698; 
	
}
.tooltip:hover::before{
	display:block;
}
 
 
.tooltip:hover{
	z-index:10;
	position:relative;
}
 
.tooltip:hover::after{
	width:200px;
	display:block;
	margin:25px 0 0 10px;
}

/* End Tooltip*/

#fbcomments
{
	display:none;
}

.fb-like-general
{
	text-align:center;
}

#search-title
{
	padding-top:20px;
	text-align:center;
	font-style:italic;
}

form#new_purchase fieldset > ol > li.boolean label {
    padding-left: 0 !important;
}

img.preview{
-webkit-transform:scale(1.0); /*Webkit: Scale down image to 0.8x original size*/
-moz-transform:scale(1.0); /*Mozilla scale version*/
-o-transform:scale(1.0); /*Opera scale version*/
-webkit-transition-duration: 0.5s; /*Webkit: Animation duration*/
-moz-transition-duration: 0.5s; /*Mozilla duration version*/
-o-transition-duration: 0.5s; /*Opera duration version*/
}

img.preview:hover{
	z-index:21;
-webkit-transform:scale(3.5); /*Webkit: Scale up image to 1.2x original size*/
-moz-transform:scale(3.5); /*Mozilla scale version*/
-o-transform:scale(3.5); /*Opera scale version*/

}

.credit-nav-link
{
	text-align:center;
}

.disabled
{
	opacity: .5;
}

div.purchase div
{
	overflow:hidden;
}
#bet-type-heading
{
	padding-left:5%;
	
	#public, #private
	{
		width:45%;
		float:left;
		text-align:center;
		background-color: #EEE;
		background-position: 0 -48px;
		border-color: #29447E #29447E #1A356E;
		padding: 2px 6px !important;
		-moz-box-shadow: 0px 0px 5px #999;-webkit-box-shadow: 0px 0px 5px #999;
		border: 1px solid #556f8c;
		cursor: pointer;
		color:black;
		font-size: 11px;
		font-weight: bold;
		margin: 0;
		
		a
		{
		color:black;	
		}
		
	}
	
	#public.current, #private.current
	{
		background-color: #5B74A8;
		
		a
		{
			color:white;
		}
	}
}

#search{
	width:200px;
}

#bet_challengee_token_input
{
	display:none;
}